<!DOCTYPE html>
<html>
<head>
    <partial name="_AdminStyles" />
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">به شاپ</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>مدیریت به شاپ</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <partial name="_AdminHeaderNavbar" />
        </header>
        <!-- right side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <partial name="_AdminSidebarUserPannel" />

                <!-- search form (Optional) -->
                <partial name="_AdminSearch" />
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                <partial name="_AdminSidebar" />
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
           @* <partial name="_AdminContentHeader" />*@

            <!-- Main content -->
            <section class="content container-fluid">

                @RenderBody()

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        @*<partial name="_AdminFooter" />*@

        <!-- Control Sidebar -->
        <partial name="_AdminSettingControlSidebar" />
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->

    <partial name="_AdminScripts" />

    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. -->
</body>
</html>
