<div class="e-bfooter-wrap e-bfooter-cloth">            
    <div class="container">            
        <div class="row">            
            <div class="col-lg-6">
                <p class="e-footer-text text-center text-lg-left">کپی رایت © 2021 شاپ مارشو. طراح و توسعه دهنده قالب: جعفر عباسی.</p>
            </div>
            <div class="col-lg-6">
                <ul class="e-bfooter-list">
                    <li><a href="terms.html">قوانین سایت </a></li>
                    <li><a href="privacy_policy.html">حریم خصوصی </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
