<!doctype html>
<!--
Template Name: شاپ مارشو - قالب فروشگاهی ریسپانسیو HTML
Version: 1.0.0
Author: Kamleshyadav
Website:
Purchase:
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- Begin Head -->

<head>
    <partial name="_Styles" />
</head>
<body>
    <!-- main-wrapper start -->
    <div class="main-wrapper">
        <!-- Preloader Box -->
        <div class="preloader-wrapper preloader-active preloader-open">
            <div class="preloader-holder">
                <div class="preloader d-flex justify-content-center align-items-center h-100">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- Search Box -->
        <partial name="_Search" />
        <!-- Header Start -->
        <div class="header-main-wrapper header-style1">
            <partial name="_HeaderMenu" />
            <partial name="_Categories" />
            <div class="bg-overlay sidebar-overlay c-toggle-btn"></div>
        </div>
        <!-- Banner Wrapper Start-->
        @RenderSection("Banner",false)
        <!-- Top ads Wrapper Start-->
        @RenderBody()

        <!-- Newsletter start -->
        <partial name="_Newsletter" />

        <!-- Footer start -->
        <partial name="_Footer" />

        <!-- Bottom Footer start -->
        <partial name="_BottomFooter" />

    </div>
    <!-- main-wrapper End -->
    <!-- sidebar cart start -->
    <partial name="_SidebarCart" />
    <div class="bg-overlay cb-overlay cmn-cart-tgl"></div>

    <!-- Login form start -->
    <!-- The Modal -->
    <partial name="_Login" />

    <!-- Register form start -->
    <!-- The Modal -->
    <partial name="_Register" />

    <!-- sucess toster  -->
    <!-- Toaster is active by adding "Open" Class in "e-toster-wrap" -->

    <partial name="_MessageFromRegister" />

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <partial name="_Scripts" />
</body>

</html>
