    <div class="e-toster-wrap">
        <img src="/Template/assets/images/suc_toster.png" alt="img" class="img-fluid toster-smile">
        <div class="e-toster-msg">
            <span>هوراااا! </span>
            <p>تبریک می گویم! حساب شما ایجاد شده است</p>
        </div>
    </div>

    <!-- error toster  -->
    <div class="e-toster-wrap error">
        <img src="/Template/assets/images/err_toster.png" alt="img" class="img-fluid toster-smile">
        <div class="e-toster-msg">
            <span>uh-oh..</span>
            <p>اوه مشکلی پیش آمد لطفا بعداً دوباره امتحان کنید ...</p>
        </div>
    </div>
