@model BehShop.Web.Models.ViewModels.User.LoginViewModel
@{
    ViewData["Title"] = "ورود به بهشاپ";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Theme/assets/vendor/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="/Theme/assets/css/main.css">
    <link rel="stylesheet" href="/Theme/assets/css/mediaq.css">
</head>
<body>

    <section class="account-box">
        <div class="register-logo">
            <a href="index.html"><img src="/Theme/assets/images/logo.svg" alt=""></a>
        </div>
        <div class="register login">
            <div class="headline">ورود به بهشاپ</div>
            <div class="content">
                <form action="" method="post">
                    <div asp-validation-summary=All class="text-danger"></div>

                    <input type="hidden" asp-for="ReturnURL" />
                    <label asp-for="Email" for="mobtel">ایمیل </label>
                    <input asp-for="Email" id="mobtel" type="text" placeholder="پست الکترونیک یا شماره موبایل خود را وارد نمایید">
                    <label asp-for="Password" for="pwd">کلمه عبور</label>
                    <input asp-for="Password" id="pwd" type="text" placeholder="کلمه عبور خود را وارد نمایید">
                    <div class="acc-agree">
                        <input asp-for="IsPersistent" id="chkbox" type="checkbox" checked>
                        <label asp-for="IsPersistent" for="chkbox"><span>مرا به خاطر داشته باش</span></label>
                    </div>
                    <button type="submit"><i class="fa fa-unlock"></i> ورود به بهشاپ</button>
                </form>
            </div>
            <div class="foot login-foot">
                <span>کاربر جدید هستید؟</span>
                <a href="register.html">ثبت نام در بهشاپ</a>
            </div>
        </div>
    </section>

    <footer>
        <section class="footer account-footer container">
            <ul>
                <li><a href="#">درباره بهشاپ</a></li>
                <li><a href="#">فرصت های شغلی</a></li>
                <li><a href="#">تماس با ما</a></li>
                <li><a href="#">همکاری با سازمان ها</a></li>
            </ul>
            <div class="copyright"><p>استفاده از مطالب فروشگاه اینترنتی تک‌کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به شرکت بهشاپ (فروشگاه آنلاین بهشاپ) می‌باشد.</p></div>

            <div class="copyright-en">
                <p>Copyright © 2006 - 2018 BehShop.com</p>
            </div>
        </section>
    </footer>

    <script src="/Theme/assets/js/jquery.min.js"></script>
    <script src="/Theme/assets/js/script.js"></script>
</body>
</html>